<% include ../partials/header %>

	<div class="container-fluid">
		<div class="jumbotron">
			<div class="container">
				<h1>Hooman Paws</h1>	
			</div>
		</div>

		<div class="container">
			<div class="user-info">
				<h3><strong>Hello, <%= user.name %></strong></h3>
			</div>

			<a class="btn pet-btn" href="/profile/<%= currentUser._id %>/pet-profiles/create">Create a New <i class="fas fa-paw"></i></a>
			
			<h2>Your Pets</h2>
			<div class="pet-container">
				<% if(user){ %> 
					<% user.pets.forEach(function(pet){ %>
						<a class="pet-images" href="/profile/<%= currentUser._id %>/pet-profiles/<%= pet.id %>">
							<img class="pet-image-thumbnail" src="<%= pet.petImage[0] %>">
						</a>
					<% }) %>
				<% } %>	
			</div>
		</div>
	</div>


<% include ../partials/footer %>